/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding:0 0 0;
}
.model-imgBx .slick-list{ padding:0 0 10px !important;}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
	}


[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



/* Arrows */
.slick-prev, .slick-next {
	position: absolute;
	top:45%;
	display: block;
	padding: 0;
	outline: none;
	border: none;
	z-index: 2;
	cursor: pointer;
	width:48px;
	height:48px;
	margin-top:0px;
	}
.slick-prev {
	left:0;
	background: url(../images/prev.webp) no-repeat top left;
	background-size:100%;
	}
.slick-next {
	right:0;
	background: url(../images/next.webp) no-repeat top right;
	background-size:100%;
	}


/*============dots=======*/
ul.slick-dots{
	width:100%;
	text-align:center;
	margin-top:40px;
	}
ul.slick-dots li{
	display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
    width: 12px;
    padding: 0;
    border: none;
    border-radius: 100%;
	}
ul.slick-dots li button{
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background:#ccc;
	text-indent: -9999px;
	display: block;
	outline:none;
	padding:0;
	border:none;
	}
ul.slick-dots li.slick-active button{
	background:#4d271c;
	}

.hero_slide-div{
	float: left;
	width:100%;
	padding:0 0;
	box-shadow:0 0 12px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 12px 4px rgba(0,0,0,0.2);
	border-radius:15px;
	}
.hero_slide-div .slick-slide{border-radius:15px;}
.hero_slide-div .slick-slide div{ vertical-align:middle; background:#000;border-radius:15px;}
.hero_slide-div .slick-prev{
	left:-20px;
	top:46%;
	width:45px;
	height:45px;
	background: url(../images/l-arw.webp) no-repeat center center #4d271c;
    background-size: 10px;
	border-radius: 50%;
	}
.hero_slide-div .slick-next{
	top:46%;
	right:-20px;
	width:45px;
	height:45px;
	background: url(../images/r-arw.webp) no-repeat center center #4d271c;
    background-size: 10px;
    border-radius: 50%;
	}
.slide-img{
	max-width:100%;
	margin:0 auto;
	display:block;
	border-radius:11px;
	}
.hero_slide-div ul.slick-dots{
	position: absolute;
    bottom: 20px;
	}
.hero_slide-div ul.slick-dots li button{background:#727272;}
.hero_slide-div ul.slick-dots li.slick-active button{background:#d86a2a;} 

.slider-nav{
	float:left;
	width:100%;
	margin-top:10px;
	}
.slider-nav .slick-slide{
	margin:0 3px;
	display:inline-block;
	float:none;
	cursor: pointer;
	outline:none;
	position:relative;
	}
.slider-nav img{
	display:block;
	max-width:100%;
	margin:0 auto;
	position:relative;
	border:1px solid #ccc;
	border-radius:10px;
	/*opacity:0.5;*/
	}
.slider-nav .slick-slide.slick-current img{
	border:1px solid #000;
	opacity:1;
	}
/*=====INVENTION====*/
.invent_slide_div{
	display:inline-block;
	vertical-align:middle;
    width: 100%;
    text-align: center;
    border-radius:10px;
	border:1px solid #ddd;
	}
.invent_slide_div .slick-prev, .invent_slide_div .slick-next{
	left:10px;
	top:50%;
	width:40px;
	height:40px;
	background: url(../images/l_arrow.webp) no-repeat top left;
	background-size:100%;
	margin-top:-20px;
	}
.invent_slide_div .slick-next{
	left:auto;
	right:10px;
	background: url(../images/r_arrow.webp) no-repeat top right;
	background-size:100%; 
	}
.nav_pkg1 .slick-prev{ left:20px;}	
.nav_pkg1 .slick-next{ left:auto; right:20px;}	
.invent_slide_img{
	display:block;
	margin:0 auto;
	max-width:100%;
	border-radius:10px;
	width:100%;
	}	
.invent_slide_nav{
	float:left;
	width:100%;
	}
.nav_pkg1{ padding:0 47px;}	
.invent_slide_div .slick-slide > div > div{ vertical-align:top;}
.invent_slide_nav .slick-slide{
	margin:10px 3px 0;
	padding:0;
	display:inline-block;
	float:none;
	cursor: pointer;
	outline:none;
	position:relative;
	border-radius:10px;
	}
.invent_slide_nav img{
	display:block;
	max-width:96%;
	margin:0 auto;
	position:relative;
	border:1px solid #ccc;
	border-radius:10px;
	/*opacity:0.5;*/
	}
.invent_slide_nav .slick-slide.slick-current img{border: 1px solid #000; opacity:1;}

@media only screen and (max-width:1021px){
.hero_slide-div .slick-prev, .hero_slide-div .slick-next{ width:35px; height:35px; background-size: 7px;}

}

@media only screen and (max-width:767px){
.hero_slide-div{}
.hero_slide-div .slick-next,.hero_slide-div .slick-prev{width: 32px; height: 32px;background-size: 7px;}
.hero_slide-div .slick-next{ right:-14px;}
.hero_slide-div .slick-prev{ left:-14px;}
.slider-nav .slick-slide{ margin:0 2px;}
.slider-nav img{ border-radius:8px;}
.slider-nav{ margin-top:10px;}

ul.slick-dots{margin-top:25px;}


.invent_slide_div .slick-prev, .invent_slide_div .slick-next{
	left:5px;
	width:30px;
	height:30px;
	margin-top:-15px;
	}
.invent_slide_div .slick-next{
	left:auto;
	right:5px;
	}
.invent_slide_nav .slick-slide{ margin:5px 1px 0;}	
.invent_slide_nav img{ border-radius:7px;}

}